
body{
    background-image:url('https://www.pngmagic.com/product_images/pastel-orange-solid-color-background.jpg');
    background-position:center;
    /*background-size:contain;*/
}
.login_form{
    width:95vw;
    height:95vh;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    margin:0px 10px;
    position:relative;
    bottom:10px;
    /*padding:30px;*/
}
.p{
    width:320px;
    height:399px;
    background-color:white;
    border-radius:30px;
}
.m{
    width:320px;
    height:350px;
    background-color:white; 
    border-radius:30px; 
}
/*.p h1{
  color:cornflowerblue;
}
.m h1{
    color:cornflowerblue;
}*/
form input{
    width:90%;
    height:30px;
    margin:10px 0;
    padding:0 10px;
    border:1px solid #ccc; 
}
.form-btn{
    text-align:center;
}
.btn{
    background-color:cornflowerblue;
    border-radius:10px;
    cursor:pointer;
    width:98%;
    padding-right:5px;
    
}
.p span{
    font-weight:bold;
    padding:0 10px;
    color:#555;
    cursor:pointer;
    width:100px;
    display: inline-block;
}
.form-btn{
    display:inline-block;
}
.p form{
    max-width:300px;
    padding:0 20px;
   position:absolute;
    top:130px;
    transition:transform 1s;
}
#login_form{
    left:-320px;
}
#sign_form{
    left:0;
}
form a{
    font-size: 12px;
    text-decoration: none;
}
#indicator{
    width:95px;
    border:none;
    background:#ff523b;
    height:3px;
    margin-top:8px;
    transform:translateX(60px);
    transition:transform 1s;
}